.ButtonHeader{
    margin: 13px !important;
    &:hover{
    background-color: rgba(255, 255, 255, 0.15) !important;
    .capa{
      background: #fff;
    }
  }
}

.btn-icon{
    .capa{
    width: 40px;
    height: 40px;
    position: absolute;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 100%, rgba(255, 255, 255, 0) 90%);
    z-index: 1;
    border-radius: 50%;
  }
  &:hover{
    .capa{
      background: linear-gradient(45deg, rgba(0, 0, 0, 0.314) 30%, rgba(250, 250, 250, 0.314) 90%);
    }
    background-color: rgba(0, 0, 0, 0) !important;
  }
}

.btn-link{
  color:  #dfdfdf !important;
  padding: 12px !important;
  border-radius: 10px !important;
  transition: all .3s ease;
  font-weight: 700 !important;
  &:hover{
    color:  #fff !important;
    font-weight: 800 !important;
    background-color: rgba(255, 255, 255, 0.15) !important;
    text-decoration: none !important;
  }
}

.container-slick {
  background: #fff;
  margin-top: 1rem;
}

.Item__ccarousel{
  img{
    margin: 0px;
    height: 100px;
    width: 140px;
    box-shadow: 0px 3px 3px 0px #9a9a9a;
  }
  span{
    background: #0000009e;
    color: #fff;
    width: 150px;
    display: flex;
    position: absolute;
    line-height: 20px;
    margin-top: -20px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
    font-weight: 700;
  }
}

body{
  background: #f8f8f8;
}

*{
  &:focus{
    outline: none !important;
  }
}

.GLa {
  text-align: center;
  color: #cfd8dc;
  letter-spacing: -1px;
  padding: 10px 20px;
  border-radius: 5px;
  border-bottom: 3px solid #3f51b5;
  margin-bottom: 20px;
  box-shadow: inset 0 0 25px rgba(0,0,0,.5);
  background-image: url('/static/image/banner.png');
  strong{
    font-family: unset;
    font-size: 32px;
    color: #3f51b5;
    letter-spacing: 10px;
  }
}
